spring:
  application:
    name: api
  datasource:
      driver-class-name: com.mysql.jdbc.Driver
      url: jdbc:mysql://10.28.109.98:3306/tx_lcn?useUnicode=true&characterEncoding=utf8&characterSetResults=utf8&useSSL=false&allowMultiQueries=true
      username: root
      password: 123456
      type: com.zaxxer.hikari.HikariDataSource
      hikari:
        maxLifetime: 600000 # 10分钟
        maximumPoolSize: 10 #连接池中允许的最大连接数
server:
  port: 8080
mybatis:
  configuration:
    map-underscore-to-camel-case: true
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8000/eureka/
curator:
  retryCount: 5
  elapsedTimeMs: 5000
  connectString: 192.168.28.128:2181
  sessionTimeoutMs: 60000
  connectionTimeoutMs: 5000

tx-lcn:
  client:
    manager-address:127.0.0.1:8070

#授权中心配置
security:
  oauth2:
    resource:
      id: resource
      user-info-uri: http://10.10.8.2:9030/uaa/user
      prefer-token-info: false

